.App {
  text-align: center;
}

.bg-fresh {
  background-color: #46b8ff;
}

.text-fresh {
  color: #46b8ff;
}

.footer-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bg-pink {
  background-color: #ffc0cb;
}

.middle {
  align-content: center;
}

input input:focus textarea {
  outline: none;
  border-width: 0;
  border: none;
}

/* .order-img {
  width: 200px;
  height: 100%;
} */

.cancel-btn {
  margin-right: 90px;
}

.teampic {
  height: 250px;
}
